In [1]:
!pip install pymongo

Collecting pymongo
  Using cached pymongo-4.3.2-cp310-cp310-win_amd64.whl (381 kB)
Collecting dnspython<3.0.0,>=1.16.0
  Using cached dnspython-2.2.1-py3-none-any.whl (269 kB)
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.2.1 pymongo-4.3.2

In [2]:
import pymongo

In [42]:
client = pymongo.MongoClient("mongodb://localhost:27017")

In [4]:
import json

In [6]:
mydb = client["Telephone_Directory"]

In [5]:
from pymongo import MongoClient

In [7]:
mycol = mydb['people_information']

In [9]:
mydoc = [
  { "name": "Amy", "address": "Apple st 652", "numuber":9962480121},
  { "name": "Hannah", "address": "Mountain 21", "numuber":9962480022},
  { "name": "Michael", "address": "Valley 345", "numuber":9962480123},
  { "name": "Sandy", "address": "Ocean blvd 2", "numuber":9962400124},
  { "name": "Betty", "address": "Green Grass 1", "numuber":9962280125},
  { "name": "Richard", "address": "Sky st 331", "numuber":9962480126},
  { "name": "Susan", "address": "One way 98", "numuber":9962480127},
  { "name": "Vicky", "address": "Yellow Garden 2", "numuber":9962480128},
  { "name": "Ben", "address": "Park Lane 38", "numuber":9962480129},
  { "name": "William", "address": "Central st 954", "numuber":9962480110},
  { "name": "Chuck", "address": "Main Road 989", "numuber":9962480111},
  { "name": "Viola", "address": "Sideway 1633", "numuber":9962480112}
]

In [13]:
x = mycol.find_one({"name":"Betty"})

In [30]:
 print(x)

None

In [29]:
for x in mycol.find():

In [36]:
print(x)

None

In [35]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

In [38]:
myquery = { "address": "Valley 345" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():

In [47]:
print(x)

None

In [43]:
myquery = { "address": "Mountain 21" }

mycol.delete_one(myquery)

In [46]:
mydoc